$primary: #6060ab;

@font-face {
    font-family: 'Lato';
    src: url('~@/main/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('~@/main/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OldSansBlack';
    src: url('~@/main/OldSansBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('~@/main/LiberationSans-Bold.ttf') format('truetype');
}