$primary: #655aaf;

@font-face {
    font-family: 'Lato';
    src: url('~@/main/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OldSansBlack';
    src: url('~@/main/OldSansBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('~@/main/LiberationSans-Bold.ttf') format('truetype');
}